// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-partial-line {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 3px;
  border-left: solid 3px;
  color: blue;
  transition: .4s;
}

.btn-partial-line:hover {
  padding-left: 0.7em;
  padding-right: 0.3em;
  color: white;
}

.fa-caret-right{
  color: blue;
}

.buttons{
  padding-top: 30px;
}

.top-image{
  width: 100%;
  min-height: calc(100vh - 50px);
  background-image: url(topimage.jpg);
  background-size: 100% 100%;
  padding-bottom: 150px;
}

.titles{
  padding-top: 65px;
}
